# App Port
PORT=

# DATABASE_URL
DATABASE_URL=""
# JWT
JWT_SECRET=""
ACCESS_SECRET_KEY=""
REFRESH_SECRET_KEY=""
JWT_EXPIRES_IN_ACCESS=""
JWT_EXPIRES_IN_REFRESH=""
# Redis
REDIS_HOST=redis
REDIS_PORT=6379
# Gotenberg
GOTENBERG_PORT=3000
# LDAP
LDAP_HOST=
LDAP_PORT=
LDAP_BASE_DN=
LDAP_ADMIN_DN=
LDAP_ADMIN_PASSWORD=
LDAP_USERS_DN=
LDAP_GROUPS_DN=
# Elasticsearch
ELASTICSEARCH_HOST=
ELASTIC_NODE_NAME=
ELASTIC_STACK_VERSION=
ELASTICSEARCH_PORT=
ES_MAX_RETRIES=
ES_REQUEST_TIMEOUT_MS=
ES_PING_TIMEOUT_MS=
CLUSTER_NAME=
# CHANGE
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
# Employees
EMPLOYEES_API_URL=""
EMPLOYEES_USERNAME=""
EMPLOYEES_PASSWORD=""
# S3
AWS_BUCKET_NAME=
AWS_S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT=
AWS_S3_FORCE_PATH_STYLE=false
AWS_S3_TLS_REJECT_UNAUTHORIZED=true
AWS_S3_CA_BUNDLE_PATH=